html{
    background: #f3f5fc;
}

.logo{
    position: absolute;
    left: 2.166666667%;/*40px;*/
    top: 4.128813161%;/*40px;*/
}

.cuadro-texto textarea{
    resize: none;
    position: absolute;
    width: 36.83333333%;/*680px;*/
    height: 29.7%;/*288px;*/
    border: 0;
    background: none;
    left: 13%;/*240px;*/
    top: 17.34101528%;/*168px;*/

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: calc(1em + 0.8578vw);/*32px;*/
    line-height: 150%;
    color : #0A3871;
}

.cuadro-texto textarea::placeholder{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: calc(1em + 0.0028vw);/*32px;*/
    line-height: 150%;
    color : #0A3871;
}

.cuadro-texto textarea:focus{
    outline: none;
}

.botones p{
    width: 11.09375;/*205px;*/
    height: 1.857976119;/*18px;*/
    position: absolute;
    left: 14.3%;/*264px;*/
    top: 87.8405%;/*851px;*/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.75em + 0.001vw);/*12px;*/
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

}

.encriptador{
    position: absolute;
    width: 17.75%; /*328px;*/
    height: 06.9158%;/*67px;*/
    left: 13%; /*240px;*/
    top: 91.35%;/*885px;*/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: calc(1em + 0.02vw);/*16px;*/
    /*line-height: 19px;*/
    text-align: center;
    color: #FFFFFF;


    background: #0A3871;
    border-radius: 24px;

}

.desencriptador{
    position: absolute;
    width: 17.75%; /*328px;*/
    height: 06.9158%;/*67px;*/
    left: 32.07%;/*592px;*/
    top: 91.35%;/*885px;*/

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: calc(1em + 0.02vw);/*16px;*/
    /*line-height: 19px;*/
    text-align: center;
    color: #0A3871;


    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;

}

.resultado-encriptado{
    visibility: hidden;
    position: absolute;
    border: #FFFFFF;
    width: 17.75%;/*336px;*/
    height: 80.6155194%;/*781px;*/
    left: 55.8%;/*1032px;*/
    top: 7.431864407%;/*72px;*/


    font-family: 'Inter';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: calc(1em + 0.43vw);/*24px;*/
    line-height: 150%;
    color: #495057;
}

.copiar{
    visibility: hidden;
    position: absolute;
    left: 55.8%;/*1032px;*/
    top: 91.35%;/*885px;*/
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 17.75%; /*336px;*/
    height: 06.9158%;/*67px;*/
    background: white;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: calc(1em + 0.02vw);/*16px;*/
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

.right-side rect{
    position: absolute;
    width: 21.13095238%;/*400px;*/
    height: 97.44052537%;/*944px;*/
    left: 54.06976744%;/*1000px;*/
    top: 4.128813559%;/*40px;*/
    margin: 0;
    border-radius: 32px;
    background: white;
    box-shadow: 0px, 24px, 32px -8px rgba(0, 0, 0, 0.08);
}

.imagen img{
    position: absolute;
    width: 18.15%;/*336px;*/
    height: 31.4%;/*304px;*/
    top: 29.17%;/*283px;*/
    left: 55.8%;/*1032px;*/
}

.ninguno{
    position: absolute;
    top: 63.9293286%;/*619px;*/
    left: 55.8%;/*1032px;*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: calc(1em + 0.43vw);/*24px;*/
    line-height: 120%;
    color: #343A40;
    text-align: center;
}

#ingresa{
    position: absolute;
    top: 71.53042403%;/*693px;*/
    left: 55.8%;/*1032px;*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: calc(1em + 0.003vw);/*16px;*/
    line-height: 150%;
    color: #495057;
    text-align: center;
}