html{
    background: #f3f5fc;
}

.logo{
    position: absolute;
    left: 40px;
    top: 40px;
}

.cuadro-texto textarea{
    resize: none;
    position: absolute;
    width: 680px;
    height: 288px;
    border: 0;
    background: none;
    left: 240px;
    top: 168px;

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color : #0A3871;
}

.cuadro-texto textarea::placeholder{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color : #0A3871;
}

.cuadro-texto textarea:focus{
    outline: none;
}

.botones p{
    width: 205px;
    height: 18px;
    position: absolute;
    left: 264px;
    top: 851px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;

}

.encriptador{
    position: absolute;
    width: 328px;
    height: 67px;
    left: 240px;
    top: 885px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;


    background: #0A3871;
    border-radius: 24px;

}

.desencriptador{
    position: absolute;
    width: 328px;
    height: 67px;
    left: 592px;
    top: 885px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;


    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;

}

.resultado-encriptado{
    visibility: hidden;
    position: absolute;
    border: #FFFFFF;
    width: 336px;
    height: 781px;
    left: 1032px;
    top: 72px;

    font-family: 'Inter';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}

.copiar{
    visibility: hidden;
    position: absolute;
    left: 1032px;
    top: 885px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 336px;
    height: 67px;
    background: white;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

.right-side rect{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    margin: 0;
    border-radius: 32px;
    background: white;
    box-shadow: 0px, 24px, 32px -8px rgba(0, 0, 0, 0.08);
}

.imagen img{
    position: absolute;
    top: 283px;
    left: 1032px;
}

.ninguno{
    position: absolute;
    top: 619px;
    left: 1032px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
    text-align: center;
}

#ingresa{
    position: absolute;
    top: 693px;
    left: 1032px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    text-align: center;
}